{% extends 'admin/base_admin.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md bg-info m-2">
            One of three columns
            </div>
            <div class="col-md bg-info m-2">
            One of three columns
            </div>
            <div class="col-md bg-info m-2">
            One of three columns
            </div>
        </div>
    </div>

{% endblock %}