<footer class="sticky-footer">
    <div class="container m-auto">
        <div class="copyright text-center m-auto">
            <span>Copyright &copy; Vite ma bouffe 2023</span>
        </div>
    </div>
</footer>