{% extends "front/layout/layout.html.twig" %}

{% block body %}
    <section id="home" >
        <div class="main-section">
            <div class="main-img">
                <img src="{{ asset('build/images/home/main.png') }}" alt="image accueil vite ma bouffe">
            </div>
            <div class="main-btn">
                <button class="py-2 px-4 rounded inline-flex items-center">
                    Rechercher un lieu
                    <i class="fa-solid fa-chevron-right"></i>
                </button>
            </div>
            <svg viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet">
                <path d="M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z" style="stroke: none; fill:#2A9D8F;"></path>
            </svg>
            <svg viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet">
                <path d="M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z" style="stroke: none; fill:#F5F5F5;"></path>
            </svg>
        </div>
        <div class="main-logo">
            <img src="{{ asset('build/images/logos/logo-noir.svg') }}" alt="logo vite ma bouffe">
        </div>
    </section>
{% endblock %}