// TOGGLE MENU

#header-btn {
  display: none;
}

#header-menu {
  display: flex;
  width: 100vw;
  height: 80px;
  background-color: black;
  position: absolute;
  > * {
    position: relative;
  }
  label {
    display: block;
    cursor: pointer;
    position: absolute;
    width: 50vw;
    height: 50vw;
    max-width: 80px;
    max-height: 80px;
    margin: auto;
    circle {
      fill: #fff3;
      opacity: 0;
    }
    &:hover circle {
      opacity: 1;
    }
  }
  .menu--2 {
    .line--1,
    .line--3 {
      --total-length: 111.22813415527344;
      --offset: -50.22813415527344;
    }
    .line--2 {
      --total-length: 99;
    }
  }
  path {
    fill: none;
    stroke: #ffffff;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    --length: 24;
    --offset: -38;
    stroke-dasharray: var(--length) var(--total-length);
    stroke-dashoffset: var(--offset);
  }
}

@media (min-aspect-ratio: 1/1) {
  #header-menu {
    label {
      width: 50vh;
      height: 50vh;
    }
  }
}
