<div class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover-color-primary">
    <div class="flex h-11 w-11 flex-none items-center justify-center rounded-lg theme-secondary">
        <i class="text-color-primary {{ icon }}"></i>
    </div>
    <div class="flex-auto">
    <a href="{{ link }}" class="block font-semibold">
        {{ name }}
        <span class="absolute inset-0"></span>
    </a>
    <p class="mt-1 text-color-tertiary"> {{ description }}</p>
    </div>
</div>